{
    "development": {
        "apiUrl": "",
        "imgur": {
            "url": "",
            "auth": "",
            "album": ""
        }
    },
    "production": {
        "apiUrl": "",
        "imgur": {
            "url": "",
            "auth": "",
            "album": ""
        }
    }
}
  